@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background: rgb(36, 36, 36);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 20, 20);
  }
